{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}	

{% block main %}			
	<section id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">About SweetTunes</h1>
          <p>This is just a demo project uploaded for testing purpose......</p>
        </div>
         </div>
        <div class="row">
            <div class="col-md-6">
            <h4>FEATURES</h4>
            <ul>
                <li><p>Upload Multiple Audio files to database</p></li>
                <li><p>Login/Register</p></li>
                <li><p>PLay music</p></li>
                <li><p>A Profile for everyone who registers</p></li>
            </ul>
            <h4 class="mt-3">SPECIFICATIONS</h4>
            <ul>
                <li><p>Django == 1.11</p></li>
                <li><p>Jquery fileupload plugin</p></li>
                <li><p>Python</p></li>
                <li><p>Pillow</p></li>
                <li><p>Bootstrap 4</p></li>
                <li><p>Font awesome</p></li>
            </ul>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'images/shot.png' %}">
            </div>
        </div>
    </div>			
{% endblock %}
