{% extends 'inherit.html' %}
{% load static %}

{% block current %}
							<li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
							<li class="menu-item"><a href="{% url 'about' %}">About</a></li>
							<li class="menu-item"><a href="{% url 'download' %}">Download</a></li>
							<li class="menu-item current-menu-item"><a href="{% url 'contact' %}">Contact</a></li>
							<li class="menu-item"><a href="{% url 'auth_login' %}" class="button">Signin/SignUp</a></li>
{% endblock %}	

{% block contentmain %}			
			<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<h2 class="page-title">Contact Us</h2>
						<div class="row">
							<div class="col-md-6">
								<form action="#" class="contact-form">
									<input type="text" placeholder="Your name"..>
									<input type="text" placeholder="Email Address..">
									<input type="text" placeholder="Website...">
									<textarea name="#" placeholder="Message..."></textarea>
									<input type="submit" value="Send message">
								</form>
							</div>
							<div class="col-md-6">
								<div class="map-wrapper">
									<div class="map"></div>
									<address>
										<div class="row">
											<div class="col-sm-6">
												<strong>Music Analyser.</strong>
												<span>40 Guitar St, Kerala</span>
											</div>
											<div class="col-sm-6">
											<a href="mailto:violin@musicana.com">rock@musicana.com</a> <br>
												<a href="tel:00000000000">(000) 000 000 000</a>
											</div>
										</div>
									</address>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->

			
{% endblock %}
