{% extends 'inherit.html' %}
{% load static %}

{% block current %}
							<li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
							<li class="menu-item"><a href="{% url 'about' %}">About</a></li>
							<li class="menu-item current-menu-item"><a href="{% url 'download' %}">Download</a></li>
							<li class="menu-item"><a href="{% url 'contact' %}">Contact</a></li>
							<li class="menu-item"><a href="{% url 'auth_login' %}" class="button">Signin/SignUp</a></li>
{% endblock %}	
{% block contentmain %}
			
			<div class="hero">
				<div class="slider">
					<ul class="slides">
						<li class="lazy-bg" data-background="dummy/slide-1.jpg">
							<div class="container">
								<h2 class="slide-title">Download Our Software Here</h2>
								<h3 class="slide-subtitle">Analysse and Classify Music</h3>

								<a href="/download_app/musiana.tar.gz" class="button cut-corner">Download</a>
							</div>
						</li>
					</ul>
				</div>
			</div>

{% endblock %}
