{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block main %}

<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <span class="d-none text-center d-lg-block mt-4">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ pics.picture.url }}" alt="">
      </span>
        <h1 class="text-center my-4">{{ user.username }}</h1>
        <ul class="">
	        <li><h6>Name :</h6>
	        {{ pics.fullname }}</li>
	        <li><h6>Favourite Music :</h6>
	        {{ pics.favourite_music }}</li>
	        <li><h6>About :</h6>
	        {{ pics.about }}</li>
        </ul>
        <div class="list-group">
        <a href="{% url 'welcome' %}" class="list-group-item submit">Collection</a>
        <a href="{% url 'pedit' %}" class="list-group-item submit">Account Settings</a>
      </div>
    </div>


    <div class="col-lg-9">

      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{% static 'images/pexels-photo-248510.jpeg' %}" alt="">
        <div class="card-body text-center gray">
          <h3 class="card-title">Upload Music</h3>
          <ul class="list-inline">
                <li class="list-inline-item">
                <input id="fileupload" type="file" name="document" multiple
                 style="display: none;"
                 data-url="{% url 'welcome' %}"
                 data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
               <button type="button" class="btn btn-md orange js-upload-music">Upload</button></li>
            <li class="list-inline-item"><form method="post" action="{% url 'clear_database' %}">
               {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" class="btn btn-danger">Clear DataBase</button>
            </form></li>
          </ul>
        </div>
      </div>

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Profile Details
        </div>
        <div class="card-body">
          <div class="col-md-12">
               <form method="POST" class="post-form" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                      <label for="{{ form.fullname.id_for_label }}">Your name</label>
                      <input type="text" class="form-control" id="id_{{ form.fullname.id_for_label }}" name="{{ form.fullname.html_name }}" value="{{ form.fullname.value }}" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                      <label for="{{ form.favourite_music.id_for_label }}">Favourates</label>
                      <input type="favourite_music" class="form-control" id="id_{{ form.favourite_music.id_for_label }}" name="{{ form.favourite_music.html_name }}" value="{{ form.favourite_music.value }}" placeholder="List your favourate musics">
                    </div>
                    <div class="form-group">
                      <label for ="{{ form.about.id_for_label }}">About you</label>
                      <textarea  class="form-control" id="id_{{ form.about.id_for_label }}" name="{{ form.about.html_name }}" value="{{ form.about.value }}" placeholder="Enter Your Details"></textarea>
                    </div>
                    <div class="form-group">
                      <label for ="{{ form.picture.id_for_label }}">Upload Your Image</label><br/>
                      <input type="file" name="picture" accept="image/*"/>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-default submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                    </div>
                </div>
                </div>
              </form>
            </div>
      </div>


    </div>


  </div>

</div>
</div>

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uploading...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
