{% extends 'inherit.html' %}

{% block current %}
							<li class="menu-item current-menu-item"><a href="{% url 'welcome' %}">Welcome</a></li>
							<li class="menu-item"><a href="{% url 'playlist' %}">Playlist</a></li>
							<li class="menu-item"><a href="{% url 'logout' %}" class="button">Logout</a></li>
{% endblock %}	



{% block content%}

<h2 class="slide-title">Welcome   {{ user.username }}</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class ="button " type="submit">Upload Your Music Files</button>
  </form>

{% endblock %} %}

