{% extends 'base.html' %}


{% load staticfiles %} <!-- New line -->

{% block jumbotron %}

<style>
{% block style %}
.jumbotron {
     background-color:  #d2b4de ;
     color:  #fbfcfc ;
}
{% endblock %}
</style>
      

 
 
	

{% endblock %}



{% block content %}
           
               <div>

   
      
        <h1><a>{{ user }}</a></h1>
        <h1><a>{{ posts.bio }}</a></h1>
        <h1><a>{{ posts.location }}</a></h1>
        
        <img src="{{ posts.picture.url }}" />
       
        	
    </div>
            
          

{% endblock %}
